.checked {
  color: orange;
}

/* Three column layout */
.side {
  width: 15%;
}

.middle {
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}



/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 10px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 10px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 10px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 10px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 10px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}