#AccountsBnC{
	margin-right:5%;
	color:black;
}

.fa-star{
	color:#FFD700;
}

.info_container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}	

.flex-container {
	display: flex;
	flex-direction:row;
	justify-content:space-evenly;
	flex-wrap: wrap;
	align-items: flex-start;
	list-style: none;
	
}

.wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.box{
	min-width:100px;
}

.re-container{
	border: 2px solid #6B8E23;
	background-color: #eee;
	border-radius: 5px;
	padding: 60px;
	margin: 20px 0;
	
}

.re-container::after {
	content: "";
	clear: both;
	display: table;
}

.re-container img {
	float: left;
	margin-right: 30px;
	border-radius: 50%;
}

.re-container span {
	font-size: 15px;
	margin-right: 25px;
}

@media (max-width: 500px) {
	.re-container {
		text-align: center;
	}

	.re-container img {
		margin: auto;
		float: none;
		display: block;
	}
}


