img {
	width:130px;
	height:90px;
	border-radius:0px;
}

#AccountsRnL{
	margin-right:40%;
	border-color:#000000;
}

#dropdown{
	margin-right:1%;
	margin-top:33%;

}

#AccountsBnC{
	margin-right:5%;
	color:black;
}
.search-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #6B8E23;
	height: 40px;
	border-radius: 50px;
	padding: 0px;

}

.search-btn {
	color: ;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #8B0000;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
} 

.search-txt{
	border:none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: black;
	font-size: 16px;
	transition: 0.7s;
	line-height: 40px;
	width: 0px;
	text-align: center;
}
.search-box:hover > .search-txt{
	width: 240px;
	padding: 0 6px;
}
.search-box:hover > .search-btn{
	background: white;
}

.forbidden {
	height: 50px;
	width: 800px;
	margin-right: 50px;
}
