img {
	width:130px;
	height:90px;
	border-radius:0px;
}

#AccountsRnL{
	margin-right:40%;
	border-color:#000000;
}

#AccountsBnC{
	margin-right:5%;
	color:black;
}

.pwd-container {
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 20px;
}

.errormsg {
	position: absolute;
	top: 65%;
	left: 50%;
	transform:translate(-50%, -50%);
}

.position {
	position:absolute;
	top:90%;
	left:50%;
	transform:translate(-50%, -50%);

}

.search-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}
.search-btn {
	color: ;
	width: 40px;
	background: #8B0000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-box:hover > .search-txt{
	width: 240px;
	padding: 0 6px;
}
.search-box:hover > .search-btn{
	background: white;
}
.forbidden {
	height: 50px;
	width: 800px;
	margin-right: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
