#secondnav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
section {
  display: -webkit-flex;
  display: flex;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

img {
	width:130px;
	height:90px;
	border-radius:0px;
}

#AccountsBnC{
	margin-right:5%;
	color:black;
}
* {
	box-sizing: border-box;
}