/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/*Style the layout of the available barbershops box*/
.container {
	list-style: none;
	padding: 5px;
	border-radius: 10px;
	background-color: #f2f2f2;
	padding: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.flex-item{
	background-color: white;
	border:10px solid #997300;
	border-style: groove;
	border-width: 3px 3px 3px 7px;
	border-radius:20px;
	border-left-color:#009900;
	border-right-color:#009900;
	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	padding:5px;
	margin-top:8px;
	flex-basis: auto;
	box-shadow: 10px 10px 7px grey;
}
/*Style the layout inside barbershops box*/
.barber-container {
	list-style: none;
	padding: 5px;
	border-radius: 0px;
	padding: 10px;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center; 
}
.bflex-item{
	background-color: ;
	padding:10px;
}

/*Style the buttons layout inside barbershops box*/
.barber-btn-container {
	list-style: none;
	padding: 0px;
	border-radius: 0px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

.btn-item{
	background-color: ;
	padding:10px;
}

/*Style the combined layout inside barbershops box*/
.combine-cont {
	list-style: none;
	padding: 0px;
	border-radius: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

.comb-item{
	background-color: ;
	padding:0px;
}

.bimg {
	width:1px;
}

#AccountsBnC{
	margin-right:5%;
	color:black;
}

* {box-sizing: border-box;}

.btn-success:hover {
  animation: shake 0.6s;
  animation-iteration-count: infinite;
}
.btn-info:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}
.btn-warning:hover {
  animation: shake 1.4s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}